<!-- The profile will be displayed inside panelwrap -->
<div class="profile-panel">

  <div class="profile-heading">
    <p> PROFILE INFORMATION </p>
  </div> <!-- end of panel-heading -->

    <div class="panel-body">
      <ul class="profile-list">
        <li class="profile-list-item"><strong> Info </strong></li>
        <li class="profile-list-item"><strong> First Name: </strong> <%= @profile.first_name %></li>
        <li class="profile-list-item"><strong> Last Name: </strong><%= @profile.last_name %></li>
        <li class="profile-list-item"><strong> Bio: </strong><%= @profile.bio %></li>
        <li class="profile-buttons">
          <% if user_signed_in? %>
          <%= link_to "Update", edit_profile_path(:id), class: "btn-success" %>
          <% else %>
          <%= link_to "Contact", profiles_path, class: "btn-success" %>
          <% end %>
        </li>
      </ul>

    <div class="profile-picture">
      <strong>Photo(s)</strong>
        <%# @product.photos.each do |photo| %>
        <%#= image_tag photo.image.thumbnail %>
        <%# end %>
    </div> <!-- end of profile-picture -->

  </div> <!-- end of panel-body -->




</div> <!-- end of panelwrap -->
