<% total = 0 %>
<div class="show-heading">YOUR POTENTIAL COWS</div>
  <div class="cart-body">

<!-- PRODUCTS IN CART -->
        <div class="amenities">
            <ul id="cart">
              <% @cart.each do | id, quantity | %>
                <% @product = Product.find_by_id(id) %>
                <li id="cartitem-1" class="show-heading profile-list" data-quantity="<%= quantity %>" data-price="<%= @product.price %>">
                  <span id="quantity"><strong><%= quantity %><%=" "%></span>
                  <span id="name"><%= link_to @product.name, @product %></span>
                  <span id="price"> €<%= @product.price %></strong></span>
                  <span><a href="/cart/<%= @product.id %>", id="AddToCart" class="btn btn-success"> Add Another </a></span>
                </li>
              <% end %>
            </ul>
            <br><br><br>
            <%# total += quantity * @product.price %>
        </div>
<!-- SHOWING TOTAL -->
        <div class="show-heading">TOTAL PRICE</div>
        <div id="total" class="show-heading"><%#=total%></div>
        <br><br><br>

<!-- EXTRA ACTIONS -->
      <div class="cart-actions">
        <% if @cart.empty? %>
          <%= link_to "Let's get some Cows!", root_path, class:"btn-success" %>
          <br><br><br>
          <% else %>
        <%= link_to "Keep shopping", root_path, class:"btn-success"  %>
        <br><br><br>
        <%= link_to "Clear", cart_clearCart_path, class:"btn-success"  %>
        <%= link_to "Order", new_order_path(@order), class: "btn btn-default" %>
        <% end %>
      </div>

<!-- end of panel-body -->
</div>
<!-- Say Hello to JAVASCRIPT -->
<script>

$(document).ready(function(){

  // get array of quantity and amount
  var sum = 0.0
  $('ul#cart li').each(function(i, item){
    sum += $(item).data('quantity') * $(item).data('price')
  })

  $("#total").text("€" + sum);

});

</script>
