<% total = 0 %>
<div class="show-heading">YOUR POTENTIAL COWS</div>
  <div class="cart-body">

<!-- PRODUCTS IN CART -->
        <div class="amenities">
            <ul>
              <% @cart.each do | id, quantity | %>
                <% @product = Product.find(id) %>
                <li class="show-heading profile-list">
                  <strong>
                    <%= quantity %><%=" "%>
                    <%= link_to @product.name, @product %>
                    €<%= @product.price %>
                  </strong>
                </li>
            </ul>
            <br><br><br>
            <% total += quantity * @product.price %>
            <% end %>
        </div>
<!-- SHOWING TOTAL -->
        <div class="show-heading">TOTAL PRICE</div>
        <div class="show-heading">€<%=total%></div>
        <br><br><br>

<!-- EXTRA ACTIONS -->
      <div class="cart-actions">
        <% if @cart.empty? %>
          <%= link_to "Let's get some Cows!", root_path, class:"btn-success" %>
          <br><br><br>
          <% else %>
        <%= link_to "Keep shopping", root_path, class:"btn-success"  %>
        <br><br><br>
        <%= link_to "Clear", cart_clearCart_path, class:"btn-success"  %>
        <%= link_to "Go to Checkout", new_order_path(@order), class: "btn btn-default" %>
        <% end %>
      </div>
</div>
<!-- end of panel-body -->
