<h1>Your Potential Cows</h1>
<br><br><br>
<% total = 0 %>
  <ul>
    <% @cart.each do | id, quantity | %>
      <% @product = Product.find_by_id(id) %>
      <li><%= link_to @product.name, @product %> <br>€<%= @product.price %> <br>Quantity: <%= quantity %></li>
      <% total += quantity * @product.price %>
      <% end %>
  </ul>

<p><strong>€<%=total%></strong></p>
<% if @cart.empty? %>
  <p> <%= link_to "You ain't got no Cows..click here to go get some!", root_path %></p>
  <% else %>
<%= link_to "I need more Cows!", root_path %>
<br>
<%= link_to "I don't want these Cows anymore!", cart_clearCart_path %>
<% end %>
