
    <% if @cart %>
      <%= form_for @order do |f| %>
        <span>Product</span>
        <span>Quantity</span>
        <span>Price</span>

        <% @order.line_items.each do |item| %>
            <span><%= item.product.name %></span>
            <span><%= item.quantity %></span>
            <span><%= item.product.price %></span>
        <% end %>
          <div class="buttons">
            <%= f.submit "Submit Order", class: "btn btn-primary" %>
          </div>
      <% end %>
    <% else %>
      <h3>No items in order yet</h3>
    <% end %>
