<div class="order-page">
<% if @cart %>
<table class="specifications show-heading">
  <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
  </tr>
</div>

<tr>
        <% @order.line_items.each do |item| %>
            <td><%= item.product.race %></td>
            <td><%= item.quantity %></td>
            <td>€<%= item.product.price %></td>

  </tr>
  <% end %>
</table>

        <%= form_for @order do |f| %>

          <div class="buttons">
            <%= f.submit "Submit Order", class: "btn-order btn-success" %>
          </div>
      <% end %>


    <% else %>
      <h3>No items in order yet</h3>
    <% end %>
</div>
