<br><br>
<table class="order-invoice" border="1">
  <tr><td colspan="4">Order #<%=@order.id%></td></tr>

  <tr>
    <td>Product</td>
    <td>Quantity</td>
    <td>Item Price</td>
    <td>Total Price</td>
  </tr>


  <% @line_items.each do |li| %>
  <tr>
        <td><%= "#{li.product.race}" %></td>
        <td><%= "#{li.quantity}" %></td>
        <td><%= "#{li.product.price}" %></td>
        <td><%= "#{li.get_line_price}" %></td>
  </tr>
  <% end %>

  <tr><td colspan="4" id="total-price"><%=@order.get_total_price%></td><tr>
</table>
