<!-- All products will be displayed in this box  -->
<div class="panelwrap">
<% @products.each do |product| %>
<% @product = product %>

<!-- One product will be displayed in this box -->
  <div class="productpanel">

<!-- Inserting Race: Name -->
    <div class="productheader">
        <strong><%= product.race %>:  <%= product.name.split.map(&:capitalize)*' ' %> </strong>
    </div>

<!-- Inserting Photos -->
    <div class="product_photo">
      <% @product.photos.each do |photo| %>
      <%= image_tag photo.image.thumbnail_small %>
      <% end %>
    </div>

<!-- Aligning See Cow button and Price -->
    <div class="ButtonPrice">
      <div class="price"><strong>€<%= product.price %></strong></div>
      <div class="see-cows">
          <%= link_to "See Cow", product_path(product.id), class: "btn btn-success" %>
      </div>
    </div>

  </div>
<% end %>
</div>
