
<div class="filterbar">
  <div class ="filteritems">
    <div class="filteritem">
      <%= link_to "Affordables", affordable_pages_path %>
    </div>
    <div class="filteritem">
      <%= link_to "Edibles", edible_pages_path %>
    </div>
    <div class="filteritem">
      <%= link_to "Races", race_pages_path %>
    </div>
    <div class="filteritem">
      <%= link_to "All", root_path %>
    </div>
  </div>

  <div class="originfilters">
    <p> Filter by Origin: </p>
    <div class="originfilter">
      <%= link_to "Europe", europe_pages_path %>
    </div>
    <div class="originfilter">
      <%= link_to "North-America", north_america_pages_path %>
    </div>
    <div class="originfilter">
      <%= link_to "Asia", asia_pages_path %>
    </div>
    <div class="originfilter">
      <%= link_to "South-America", latino_pages_path %>
    </div>
  </div>
<!-- This is for the search form that searches by race and is not currently active -->
  <!-- <div class="filteritem">
    <%# render 'products/searchform' %>
  </div> -->
</div>

<!-- All products will be displayed in this box  -->
<div class="panelwrap">
<% @products.each do |product| %>
<% @product = product %>

<!-- One product will be displayed in this box -->
  <div class="productpanel">

<!-- Inserting Race: Name -->
    <div class="productheader">
        <strong><%= product.race %>:  <%= product.name.split.map(&:capitalize)*' ' %> </strong>
        <% product.country_origin %>
    </div>

<!-- Inserting Photos -->
    <div class="product_photo">
      <% @product.photos.each do |photo| %>
      <%= image_tag photo.image.thumbnail_small %>
      <% end %>
    </div>

<!-- Aligning See Cow button and Price -->
    <div class="ButtonPrice">
      <div class="price"><strong>€<%= product.price %></strong></div>
      <div class="see-cows">
          <%= link_to "See Cow", product_path(product.id), class: "btn btn-success" %>
      </div>
    </div>

  </div>
<% end %>
</div>
