
<div class="filterbar">
  <div class="filteritem">
    <%= link_to "Affordables", affordable_pages_path %>
  </div>
  <div class="filteritem">
    <%= link_to "Edibles", edible_pages_path %>
  </div>
  <div class="filteritem">
    <%= link_to "Races", race_pages_path %>
  </div>
<!-- not yet active  VVV-->
  <!-- <div class="filteritem">
    <%# link_to "With Image", with_image_pages_path %>
  </div> -->
  <div class="filteritem">
    <%= select("Races", "race", Product.all.collect(&:race)) %>
  </div>
  <div class="filteritem">
    <%= select("Origin", "country_origin", Product.all.collect(&:country_origin)) %>
  </div>
<!-- not yet active ^^^ -->
  <!-- <div class="filteritem">
    <%# render 'products/searchform' %>
  </div> -->
</div>

<!-- All products will be displayed in this box  -->
<div class="panelwrap">
<% @products.each do |product| %>
<% @product = product %>

<!-- One product will be displayed in this box -->
  <div class="productpanel">

<!-- Inserting Race: Name -->
    <div class="productheader">
        <strong><%= product.race %>:  <%= product.name.split.map(&:capitalize)*' ' %> </strong>
    </div>

<!-- Inserting Photos -->
    <div class="product_photo">
      <% @product.photos.each do |photo| %>
      <%= image_tag photo.image.thumbnail_small %>
      <% end %>
    </div>

<!-- Aligning See Cow button and Price -->
    <div class="ButtonPrice">
      <div class="price"><strong>€<%= product.price %></strong></div>
      <div class="see-cows">
          <%= link_to "See Cow", product_path(product.id), class: "btn btn-success" %>
      </div>
    </div>

  </div>
<% end %>
</div>
