<%= form_for @product, html: { multipart: true} do |f| %>
<% @product.errors.full_messages.each do |msg| %>
  <p class="alert alert-danger"><%= msg %></p>
<% end %>

  <div class="form-group">
    <label>Name</label>
    <%= f.text_field :name, placeholder: "Cow's name", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Description</label>
    <%= f.text_area :description, rows: 5, placeholder: "Say something about your cow", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Race of your Cow *</label>
    <%= f.text_field :race, placeholder: "What is the race of your cow?", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Origin</label>
    <%= f.select :country_origin, [["Europe", "Europe"], ["North-America", "North-America"], ["Asia", "Asia"], ["Latino", "Latino"]], prompt: "Your cow's origin?", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Colour of your Cow</label>
    <%= f.text_field :color, placeholder: "What is the color of your cow?", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Age of your Cow</label>
      <%= f.number_field :age, placeholder: "eg. 5", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Gender of your Cow</label>
    <%= f.select :gender, [["Female", "Female"], ["Male", "Male"]], prompt: "Gender", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Is your Cow Edible?</label>
    <%= f.check_box :edible %> Yes!
  </div>

  <div class="form-group">
    <label>Price of your Cow *</label>
      <%= f.number_field :price, placeholder: "eg. 100", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>How many of these Cows do you have for sale? *</label>
    <%= f.select :amount, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6+", 6]], prompt: "Number of cows", class: "form-control" %>
  </div>

  <label>Photos</label>

  <div class="form-group">
    <span class="btn btn-success">
      Upload Cow Photos
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </span>
  </div>

  <div id="photos">
    <%= render 'photos/list' %>
  </div>

  <label>Publish this Cow?</label>

  <div class="actions">
    <%= f.submit "Publish", class: "btn btn-success" %>
  </div>
<% end %>
