<div class="show-primary">
  <div class="show-heading"><%= @product.name.upcase %></div>
    <div class="panel-body">

  <!-- Amenities -->
        <div class="amenities">
          <p><strong>Race:</strong> <%= @product.race.split.map(&:capitalize)*' ' %></p>
          <p><strong>Age:</strong>  <%= @product.age %></p>
          <p><strong>Gender:</strong>  <%= @product.gender.split.map(&:capitalize)*' ' %></p>
          <p><strong>Colour:</strong>  <%= @product.color.split.map(&:capitalize)*' ' %></p>
          <p><strong>Country of Origin:</strong>  <%= @product.country_origin.split.map(&:capitalize)*' ' %></p>
          <p><strong>Description:</strong>  <%= @product.description %></p>
          <p><strong>Note:</strong> <%= !@product.edible ? ("Not to be Eaten!").html_safe.upcase : "Edible.." %></p>
          <p><strong>Owner:</strong> <%= @product.user.email %></p>

  <!-- Order Form -->
          <% if current_user != @product.user %>
            <div class="actions">
              <p><a href="/cart/<%= @product.id %>"> Add the Damn Cow to your Cart </a>
              <!-- <p><%#= render 'orders/form'%></p> -->
              <p><br><%= link_to "Back", root_path, class: "btn-success" %></br></p>
            </div>
          <% else %>
          <div class="actions">
            <p><%= link_to "Edit Your Cow", edit_product_path, class: "btn-success" %></p>
            <p><br><%= link_to "Back", root_path, class: "btn-success" %></br></p>
          </div>

          <% end %>
        </div>

    <!-- Photos -->
        <div class="photos">
          <p><strong>Photos</strong></p>
            <% @product.photos.each do |photo| %>
                <%= image_tag photo.image.thumbnail %>
            <% end %>
        </div>

<!-- End of Panel Body -->
    </div>

</div>
